<div class="container">
  <div class="content_sum">
    <span>Número 1</span>
    <input #num1 id="num1" type="number"> +
    <span>Número 2</span>
    <input #num2 id="num2" type="number">
    <br>
    <br>
    <br>
    <button (click)="printSum(num1.value, num2.value)" id="button">Sumar</button>
    <br>
    <br>
    <br>
    Resultado:
    <input #result id="result" type="text">
  </div>
</div>
